* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

form {
    width: 500px;
    margin: auto;
    margin-top: 150px;
    margin-bottom: 150px;
    /* background-color: lightblue; */
    padding: 50px;
}

label {
    font-size: 1.5rem;
}

input {
    outline: none;
}

/* input without focus */
/* input:not(:focus):placeholder-shown{
    border: 2px solid black ;
}
/* input with focus */
/* input:focus{
    border: 2px solid orange ;
} */


/* input is valid & with & without focus */
/* input:not(:focus):valid,input:focus:valid{
    border: 2px solid green ;
} */
/* input is invalid & with & without focus */
/* input:focus:invalid,input:placeholder-shown{
    border: 2px solid red ;
} */




/* input:invalid:not(:placeholder-shown){
    border: 2px solid red;
  }
  
  /* input:invalid:not(:placeholder-shown) {
    color: red;
  } */

/* input:valid {
    border: 2px solid green;
  }  */

/* Style for required fields */
input:required:not(:focus) {
    border-left: 3px solid #ffcc00;
}

/* Style when required field is valid */
input:required:valid,
input:valid {
    border-left: 10px solid #4CAF50;
}

/* Style when required field is valid */
input:invalid {
    border-left: 10px solid red;
}

input[type='text'],
input[type='password'],
input[type='date'],
input[type='number'],
input[type='email'],
select,
textarea {
    width: 100%;
    font-size: 1.5rem;
}

.gap {
    margin-bottom: 20px;
}


input[type="checkbox"],input[type='radio'] {
    width: 30px;
    height: 30px;
   accent-color: green;
}

input:checked{
    background-color: green;
}

button {
    border: none;
    font-size: 2rem;
    padding: 5px 10px;
    background-color: cornflowerblue;
    color: white;
}